# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

mkspecs/
lib/
include/
src/quazip/quazipd_resource.rc
src/quazip/quazip_resource.rc
src/quazip/object_script.quazipd.Debug
src/quazip/object_script.quazip.Release
src/MSPack/MSPackd_resource.rc
src/MSPack/MSPack_resource.rc
