# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

build
examples/CabExtractor/.obj
examples/CabExtractor/CabExtractor.xcodeproj
examples/CabExtractor/Debug-iphoneos
MSPack/lib*.prl
MSPack/debug/
MSPack/release/
MSPack/object_script.MSPack.*
examples/CabExtractor/android-libCabExtractor.so-deployment-settings.json
MSPack/MSPack.framework
examples/CabExtractor/release/
examples/CabExtractor/debug/
examples/CabExtractor/.qmake.winrt_uuid_CabExtractor
